HOTEL_DB_NAME=hotel_chain
HOTEL_DB_USER=hotel_app
HOTEL_DB_PASSWORD=change-for-local-development
HOTEL_DB_PORT=55432
HOTEL_API_PORT=4080
HOTEL_TEST_DB_NAME=hotel_chain_test
HOTEL_TEST_DB_USER=hotel_test
HOTEL_TEST_DB_PASSWORD=hotel_test
STAFF_DEV_ENABLED=true
STAFF_HQ_PASSWORD=choose-a-local-password
STAFF_SOKCHO_PASSWORD=choose-a-local-password
STAFF_SEORAKSAN_PASSWORD=choose-a-local-password
STAFF_JEJU_PASSWORD=choose-a-local-password
WEBSITE_MEDIA_STORAGE_MODE=local
WEBSITE_MEDIA_S3_ENDPOINT=
WEBSITE_MEDIA_S3_REGION=
WEBSITE_MEDIA_S3_BUCKET=
WEBSITE_MEDIA_S3_PATH_STYLE=false
WEBSITE_MEDIA_S3MOCK_PORT=59090
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
